.main-header {
  text-align: center;
  margin-top: 100px;
}

.headings {
  font-size: 97px;
  line-height: 107px;
  font-weight: bold;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

.nav-container {
  display: flex;
  align-items: center;
}

.nav-item {
  padding-left: 36px;
  padding-right: 20px;
  color: #cfcfcf;
}

.nav-item-button {
  border: 1px solid white;
  border-radius: 24px;
  padding: 8px 20px;
  text-align: center;
  color: white;
}

.main-button-label {
  border: 1px solid white;
  background-color: white;
  border-radius: 40px;
  padding: 20px 65px;
  text-align: center;
  color: black;
  width: 20rem;
}
